<ul class="navbar-nav">
  <li *ngIf="isAuthenticated" class="nav-item dropdown" dropdown>
    <a
      dropdownToggle
      name="account-dropdown"
      class="nav-link dropdown-toggle"
      id="accountDropdown"
      role="button"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <i class="mdi mdi-account mr-1"></i>
      Account
    </a>
    <div *dropdownMenu aria-labelledby="accountDropdown" class="dropdown-menu">
      <a
        name="logout"
        class="dropdown-item"
        role="menuitem"
        [routerLink]="['/logout']"
        >Sign out</a
      >
    </div>
  </li>

  <li *ngIf="!isAuthenticated" class="nav-item">
    <a class="nav-link" role="button" name="log-in" [routerLink]="['/login']">
      <i class="mdi mdi-lock mr-1"></i>
      Log In
    </a>
  </li>
</ul>
