@use "../../scss/header";

.mdi-color-secondary {
  background-color: #ffffff;
}

.fit-mobile-menu-item {
  position: absolute;
  right: 80px;
  top: 0;

  .navbar-nav .nav-link {
    padding-left: 5px;
    padding-right: 5px;
  }
}
