header {
  width: 100%;
  z-index: 10;
}

header.stick {
  position: fixed;
  top: 0;
}

header.a {
  text-decoration: none;
}

header.library-logo {
  width: 100px;
  height: 50px;
}

.super-header {
  background-color: #e5e5e6;
  color: #8b8b91;
  height: 32px;
  padding: 2px 15px;
  font-size: 1rem;
  display: flex;
  justify-content: end;
  align-items: center;

  .mdi {
    background-color: #8b8b91;
  }
  .jr-icon {
    background-color: #00153f;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}

.mdi-color-secondary {
  background-color: #ffffff;
}

header .navbar {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 5px #18182314;
  margin: 8px;
  padding: 0 12px;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.navbar-light {
  border-bottom: 1px solid #cccccf;
  padding-top: 0;
  padding-bottom: 0;

  .navbar-toggler {
    border: none;

    .mdi {
      background-color: #296532;
    }
  }
}

.library-logo {
  background-image: url(/assets/images/siteHeader.png);
  width: 201px;
}

.fit-mobile-menu-item {
  position: absolute;
  right: 60px;
  top: 0;

  .navbar-nav .nav-link {
    padding-left: 5px;
    padding-right: 5px;
  }
}
